.rose {
	width: 250px;
	float: right;
	margin: 0px 0px 15px 15px;
}
.sometext {
	font-size: 23px;
	text-align: justify;
}

#div1 {
	background-color: red;
}
#div2 {
	background-color: green;
}
#div3 {
	background-color: blue;
}
.square {
	width: 50px;
	height: 50px;
	font-size: 16px;
	color: #FFF;
	padding: 15px;
	/*float: left;*/
}
.hello {
	border: 3px solid green;
	float: right;
	padding: 10px;
}
.say {
	padding: 10px;
	border: 3px solid red;
	clear: both;
}
.say::after {
	content: "";
	clear: both;
	display: table;
}
.wish {
	font-size: 25px;
	text-align: center;
	position: relative;
}
/*.wish::before {
	content: "Hello ";
}
.wish::after {
	content: ", How are u?";
}*/

.wish::before {
  content: "";
  width: 100px;
  height: 5px;
  background-color: red;
  display: inline-block;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 50px);
}